@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Open Sans', sans-serif;
	}

	body{
		background-image: url("fondogif7.gif");
		background-size: 30vw 100vh;
	}

	/*div.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.5);
		z-index: -1;
		top: 0;left: 0;
	}*/

	header.header{
		width: 100%;
		height: 10%;
		position: fixed;
		top: 0; left: 0;
		z-index: 1;
		background: #fff;
		border-bottom: 1px solid #000000;
	}

	header.header div.capa2{
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.1);
	}

	div.container{
		width: 90%;
		max-width: 1400px;
		margin: auto;
		background: ;
	}

	div.container div.btn-menu, a.icon-linkedin-rect{
		float: left;
		line-height: 100px;
	}

	div.container .btn-menu label{
		color: #000000;
		font-size: 25px;
		cursor: pointer;
	}

	a.icon-linkedin-rect{
		color: #000000;
		font-weight: 400;
		font-size: 35px;
		margin-left: 10px;
		cursor: pointer;
		text-decoration: none;
		font-family: arial;
	}

	div.container nav.menu{
		float: right;
		line-height: 109px;
		position: fixed;
		right: 380px;
	}

	div.container nav.menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: #000000;
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 18px;
		margin-right: 15px;
		font-family: arial;
	}

	div.container nav.menu a:hover{
		border-bottom: 3px solid #000000;
		padding-bottom: 5px;
	}

	/*usuario*//*usuario*/
	/*usuario*//*usuario*/

	 div#user-info-elim {
		position: fixed;
		right: 60px;
		top: 20px;
		width: 260px;
		height: 75px;
		line-height: 56px;

	}

	div#user-info-elim h1.icon-user-circle-o{
		position: absolute;
		color: #000000;
		font-size: 20px;
		text-align: left;
		cursor: pointer;
	}

	div#user-info-elim p{
		position: absolute;
		color: #000000;
		font-size: 14px;
		text-align: left;
		line-height: 103px;
		right: 175px;
		cursor: pointer;
		font-family: arial;
	}

	div#user-info-elim p#puntuacion{
		color: #000000;
		font-size: 14px;
		text-align: 103px;
		right: 140px;
		cursor: pointer;
	}


	/*ingreso usuario*//*ingreso usuario*/
	/*ingreso usuario*//*ingreso usuario*/

	form#user-get {
		color: #00000;
		position: absolute;
		width: 1000px;
		height: 250px;
		top: 220px;
		left: 450px;
		text-align: center;
		border: 3px solid #fff;
		border-radius: 22px;
	}

	form#user-get div{
		width: 100%;
		height: 100%;
		background: url("fondogif10.gif");
		background-size: 55vw 27vh;
		border-radius: 18px;
	}

	form#user-get h2{
		position: absolute;
		left: 320px;
		top: 65px;
		font-size: 28px;
		font-family: arial;
	}

	form#user-get p{
		position: absolute;
		font-size: 22px;
		left: 305px;
		top: 121px;
		font-family: arial;
	}

	form#user-get input#name{
		color: black;
		position: absolute;
		right: 2px;
		top: 124px;
		left: 510px;
		background: whitesmoke;
	}

	form#user-get input#boton{
		display: none;
	}

	label.icon-ok-circled2-1{
		color: #000000;
		position: absolute;
		top: 117px;
		left: 675px;
		font-size: 25px;
		bottom: 7px;
		cursor: pointer;
	}

	/*Puntaje Final*//*Puntaje Final*/
	/*Puntaje Final*//*Puntaje Final*/

	input#btn-final {
		color: #000000;
		position: absolute;
		cursor: pointer;
		height: 50px;
		top: 88px;
		left: 88px;
		font-size: 32px;
		border: 2px solid yellow;
		border-radius: 5px;
		font-family: arial;
	}

	div#fondo-boton{
		position: relative;
		width: 430px;
		height: 200px;
		top: 3460px;
		margin-right: auto;
		margin-left: auto;
		background-image: url(https://media0.giphy.com/media/QxjYIG40lpjkEDbARF/200w.webp?cid=ecf05e47kxmog6ytdwbvrbll8jnt5k7d3tra6wdryfeab8a0&rid=200w.webp&ct=g);
		background-size: 19vw 20vh;
		border: 4px solid yellow;
		border-radius: 20px;
	}

	div.parte-final{
		position: absolute;
		width: 100%;
		height: 110px;
		top: 831px;
		background: #fff;
	}

	div.parte-final p#resp-final {
		color: #000000;
		position: relative;
		text-align: center;
		font-size: 45px;
		top: 30px;
		font-family: arial;
	}

	div.parte-final nav#teams {
		position: absolute;
		top: 20px;
		left: 150px;
		cursor: pointer;
	}

	div.parte-final nav#nasa {
		position: absolute;
		top: 7px;
		right: 150px;
		cursor: pointer;
	}

	div.parte-final nav#instagram{
		position: absolute;
		left: 450px;
		top: 17px;
		cursor: pointer;
	}

	div.parte-final nav#github{
		position: absolute;
		right: 450px;
		top: 7px;
		cursor: pointer
	}

	div#gif-bien{
		position: relative;
		width: 430px;
		height: 200px;
		top: -342px;
		margin-right: auto;
		margin-left: auto;
		border: 4px solid lightgreen;
		border-radius: 20px;
	}

	div#gif-mal{
		position: relative;
		width: 430px;
		height: 200px;
		top: -542px;
		margin-right: auto;
		margin-left: auto;
		border: 4px solid red;
		border-radius: 20px;
	}

	div#gif-bien{
		visibility: hidden;
		background: url(https://media3.giphy.com/media/YP258EkezKv5RSPGRI/200w.webp?cid=ecf05e47ct5h16f00ytucrjf9w96ff0vnzssmsj07i25h5i0&rid=200w.webp&ct=g);
		background-size: 21vw 20vh;
	}

	div#gif-mal{
		visibility: hidden;
		background: url(https://media1.giphy.com/media/Z9hZLKflOlXjo349De/200w.webp?cid=ecf05e47lp68bsuihmmo31qrplymjp9f8k0jazb3om3cclhe&rid=200w.webp&ct=g);
		background-size: 24vw 20vh;
	}

